* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
:root {
  --nav-color: #3636d6;
  --bg-color: #fff;
  --main-color: #efefef;
}

.dark-theme {
  --nav-color: #000;
  --bg-color: #000;
  --main-color: #0a0a0a;
}
body {
  background-color: var(--main-color);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
/* navigation bar start*/
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--nav-color);
  padding: 5px 5%;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 100;
}
.nav-left,
.nav-right {
  display: flex;
  align-items: center;
}
.logo {
  width: 160px;
  margin-right: 45px;
}
.nav-left ul li {
  display: inline-block;
  list-style: none;
}
.nav-left ul li img {
  width: 25px;
  margin: 0 15px;
}

.user-icon img {
  cursor: pointer;
  width: 40px;
  border-radius: 50%;
}

.search-box {
  margin-right: 20px;
  width: 300px;
  display: flex;
  align-items: center;
  background-color: #efefef;
  border-radius: 30px;
}

.search-box img {
  padding: 0.25rem 0;
  width: 22px;
  margin-left: 10px;
}
.search-box input {
  width: 100%;
  outline: none;
  border: none;
  background-color: transparent;
}

.online {
  position: relative;
}
.online::after {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid #fff;
  background-color: #0ead5b;
  position: absolute;
  top: 0;
  right: 0;
}

/* navigation bar end */

/* start main container */

.container {
  padding: 13px 5%;
  display: flex;

  justify-content: space-between;
}
.left-sidebar {
  flex-basis: 25%;
  align-self: flex-start;
  position: sticky;
  top: 70px;
}
.right-sidebar {
  flex-basis: 25%;
  align-self: flex-start;
  position: sticky;
  top: 70px;
  background-color: var(--bg-color);
  color: #908f8f;
  padding: 0.6rem;
  border-radius: 5px;
}

.main-content {
  flex-basis: 47%;
}

/* left sidebar start */

.important {
  border-bottom: 2px solid #ccc;
}
.important a img {
  width: 25px;
  margin-right: 20px;
}
.important a,
.shortcut a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #908f8f;
  padding: 0.5rem 0;
  width: fit-content;
}
.important a:last-child {
  color: #3636d6;
}

.shortcut a img {
  width: 40px;
  border-radius: 6px;
  margin-right: 20px;
}

.shortcut p {
  color: #3d3d3d;
  margin-block: 1rem;
  font-weight: 600;
}

/* start right sidebar */

.sidebar-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.8rem;
}

.sidebar-title h4 {
  font-size: 0.8rem;
}
.sidebar-title a {
  text-decoration: none;
  font-size: 0.8rem;
  color: #3636d6;
}

.event {
  display: flex;
  align-items: center;
  margin-block: 0.5rem;
}

.left-event {
  height: 65px;
  width: 65px;
  overflow: hidden;
  text-align: center;
  position: relative;
  margin-right: 1.3rem;
  box-shadow: 0 0 5px #0000001a;
  padding: 0.5rem;
}
.left-event h3 {
  color: #3d3d3d;
}

.right-event a {
  color: #3636d6;
  text-decoration: none;
  font-size: 0.8rem;
}
.right-event h4 {
  font-size: 0.9rem;
}
.left-event span {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #3636d6;
  color: var(--bg-color);
  font-size: 12px;
  width: 100%;
  padding: 4px 0;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.ads {
  width: 100%;
  border-radius: 4px;
  padding: 0 0.5rem;
  margin-bottom: 0.6rem;
}

.online-chat {
  display: flex;
  align-items: center;
}

.online-chat .online img {
  width: 40px;
  border-radius: 50%;
}
.online-chat p {
  margin-left: 1.2rem;
}
.online-chat .online::after {
  top: unset;
  bottom: 5px;
}

/* start main content */

.story-gallery {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.3rem;
}

.story {
  flex-basis: 18%;
  padding-top: 32%;
  position: relative;
  background-color: #fff;
  background-position: center;
  background-size: cover;
  border-radius: 10px;
}
.story img {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 45px;
  border-radius: 50%;
  border: 3px solid #3636d6;
}
.story p {
  width: 100%;
  position: absolute;
  bottom: 10px;
  color: var(--bg-color);
  text-align: center;
}

.story1 {
  background-image: linear-gradient(transparent, #0000005a),
    url(images/status-1.png);
}
.story2 {
  background-image: linear-gradient(transparent, #0000005a),
    url(images/status-2.png);
}
.story3 {
  background-image: linear-gradient(transparent, #0000005a),
    url(images/status-3.png);
}
.story4 {
  background-image: linear-gradient(transparent, #0000005a),
    url(images/status-4.png);
}
.story5 {
  background-image: linear-gradient(transparent, #0000005a),
    url(images/status-5.png);
}

.story.story1 img {
  top: unset;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  border: 0;
  width: 35px;
}

.write-post,
.post-container {
  color: #908f8f;
  background-color: var(--bg-color);
  border-radius: 6px;
  padding: 0.5rem;
  margin-bottom: 1rem;
}

.user-profile {
  display: flex;
  align-items: center;
}

.user-profile img {
  width: 40px;
  border-radius: 50%;
  margin-right: 1.2rem;
}

.user-profile p {
  font-weight: 500;
  color: #3d3d3d;
  margin-bottom: -5px;
}

.user-profile select {
  outline: none;
  border: 0;
  font-size: 12px;
  color: #908f8f;
  background-color: var(--main-color);
}

.post-input {
  padding: 1rem 0 0 2.1rem;
}

.post-input textarea {
  width: 100%;
  outline: 0;
  background-color: var(--bg-color);
  border: 0;
  border-bottom: 1px solid #908f8f;
  resize: none;
}
.add-input {
  display: flex;
  align-items: center;
  padding: 0.8rem 0;
}

.add-input a {
  text-decoration: none;
  color: #908f8f;
  font-size: 13px;
  margin-right: 1.5rem;
}

.add-input img {
  width: 1.2rem;
  margin-right: 0.3rem;
}

.user-profile span {
  font-size: 13px;
}
.post-text {
  margin-top: 0.6rem;
}
.post-text span {
  color: #3d3d3d;
  font-weight: 500;
}
.post-text a {
  text-decoration: none;
  margin-right: 0.4rem;
  color: #3636d6;
}
.post-img {
  display: flex;
  align-items: center;
}
.post-img img {
  width: 100%;
  padding: 0.5rem;
  border-radius: 12px;
}

.reaction-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.prof img {
  width: 22px;
  border-radius: 50%;
  margin-right: 1rem;
}
.reaction {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.reaction div img {
  width: 1rem;
  margin-right: 0.3rem;
}
.reaction div {
  margin-right: 1.4rem;
}
.footer p {
  text-align: center;
  color: #908f8f;
  padding: 5px 0 10px;
}
.load-container {
  display: flex;
  justify-content: center;
}
.load-more {
  text-align: center;
  padding: 0.4rem 0.5rem;
  border-radius: 0.2rem;
  outline: none;
  cursor: pointer;
  color: #908f8f;
  border: 1px solid #908f8f;
  background-color: transparent;
}

.settings-menu {
  position: absolute;
  top: 108%;
  right: 5%;
  background-color: var(--bg-color);
  max-width: 300px;
  width: 90%;
  border-radius: 4px;
  box-shadow: 0 0 10px #00000066;
  max-height: 0;
  opacity: 0;
  transition: max-height 0.5s, opacity 0.2s;
}
.settings-menu-height {
  max-height: 450px;
  opacity: 1;
}
.settings-menu-inner {
  padding: 1rem;
}

.user-profile a {
  text-decoration: none;
  color: #3636d6;
  font-size: 13px;
  margin-right: 1rem;
}

.settings-menu-inner hr {
  border: 0;
  height: 1px;
  background-color: #908f8f;
  margin: 0.6rem 0;
}
.setting-links {
  display: flex;
  align-items: center;
  margin: 1rem 0;
}
.setting-links .settings-icon {
  width: 40px;
  border-radius: 50%;
  margin-right: 1rem;
}

.setting-links a {
  color: #908f8f;
  text-decoration: none;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-between;
}
.setting-links a img {
  width: 10px;
}

#dark-btn {
  width: 45px;
  background-color: #ccc;
  border-radius: 0.8rem;
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 2px 3px;
  cursor: pointer;
  display: flex;
  transition: padding-left 0.3s, background-color 0.3s;
}

#dark-btn span {
  background-color: #fff;
  width: 18px;
  border-radius: 50%;
  height: 18px;
  display: inline-block;
}
#dark-btn.dark-on {
  padding-left: 23px;
  background-color: #666666c1;
}

/* profile page style */
.cover-image {
  padding: 20px 15%;
}
.cover-image img {
  width: 100%;
  border-radius: 6px;
}
.profile-detail {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--bg-color);
  margin: 0 15%;
  border-radius: 6px;
}
.pd-left,
.pd-right {
  display: flex;
  align-items: flex-start;

  padding: 15px;
}
.pd-left img {
  width: 70px;
  margin-right: 20px;
  border-radius: 6px;
}
.pd-left h3 {
  color: #3d3d3d;
}
.pd-left p {
  color: #908f8f;
  font-size: 13px;
}
.pd-left div img {
  width: 18px;
  border-radius: 50%;
  margin: 0.5rem 0 0 0;
}

.pd-right {
  padding-top: 0;
}
.pd-right button img {
  width: 18px;
  margin-right: 8px;
}
.pd-right button {
  padding: 0.25rem 0.5rem;
  margin-right: 12px;

  border: none;
  display: flex;
  align-items: center;
  color: #fff;
  height: 30px;
  background-color: #3636d6;
  border-radius: 3px;
  cursor: pointer;
}
.pd-right button:first-child {
  color: #3d3d3d;
  background-color: #ccc;
}
.pd-row {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin: 20px 15%;
  border-radius: 4px;
}

.pd-left-col {
  flex-basis: 33%;
  background: var(--bg-color);
  padding: 20px;
  border-radius: 5px;
}
.pd-left-col h3 {
  font-size: 1rem;
  color: #3d3d3d;
  margin-bottom: 0.5rem;
}
.pd-left-col p {
  text-align: justify;
  padding-left: 1rem;
  color: #908f8f;
}
.pd-left-col hr {
  border: 0;
  height: 1px;
  background-color: #908f8f;
  margin: 15px 0;
}
.pd-left-col .locations {
  display: flex;
  flex-direction: column;
}
.pd-left-col .locations img {
  width: 22px;
  height: 18px;
  margin-right: 16px;
}

.pd-left-col .locations a {
  text-decoration: none;
  color: #908f8f;
  display: flex;
  margin-bottom: 1rem;
  font-size: 15px;
}

.pd-right-col {
  flex-basis: 65%;

  padding: 0 0.5rem;
}

.profile-photos .title-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.profile-photos .title-box h3 {
  color: #908f8f;
  font-synthesis: 16px;
}
.profile-photos .title-box a {
  text-decoration: none;
  color: #3636d6;
  font-size: 14px;
}
.profile-photos .photos {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 10px;
  margin-top: 0.5rem;
}
.photos div img {
  width: 100%;
  cursor: pointer;
}
.profile-photos .friends {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 10px;
  margin-top: 0.5rem;
}
.friends div img {
  width: 100%;
  cursor: pointer;
  padding-bottom: 20px;
}
.friends div {
  position: relative;
}
.friends p {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #908f8f;
}
/* media queries */

@media screen and (max-width: 900px) {
  .left-sidebar,
  .right-sidebar {
    display: none;
  }
  .search-box {
    display: none;
  }
  .logo {
    width: 100px;
    margin-right: 15px;
  }
  .nav-left ul li img {
    width: 18px;
    margin-right: 8px;
  }
  .user-icon img {
    width: 28px;
  }
  .main-content {
    flex-basis: 100%;
    flex-wrap: wrap;
  }
  .story img {
    width: 28px;
    border-width: 3px;
  }
  .story p {
    font-size: 14px;
  }
  .story.story1 img {
    width: 28px;
  }
  .add-input {
    flex-wrap: wrap;
  }
  .add-input img {
    width: 0.8rem;
    margin-right: 8px;
  }
  .add-input a {
    font-size: 11px;
  }
  .cover-image {
    padding: 20px 5%;
  }
  .profile-detail {
    flex-wrap: wrap;
    margin: 0 5%;
  }
  .profile-detail h3 {
    font-size: 15px;
  }

  .pd-row {
    flex-wrap: wrap;
    margin: 0 5%;
  }
  .pd-left-col,
  .pd-right-col {
    flex-basis: 100%;
  }
  .pd-right-col {
    margin-top: 1rem;
    padding: 0;
  }
}
